.example-nav{
  width: 350px;
  height: 100vh;
}

.example-side-container {
  height: 100vh;
}

.side-nav-flag {
  height: 50px;
  width: 16px;
  line-height: 50px;
  text-align: center;
  background: rgba(0, 0, 0, .3);
  margin-top: 25px;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent !important;
}