/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
  height: 100vh;
}

h1 {
  font-family: 'Open Sans Condensed';
  font-size: 60px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: normal;
}

h2 {
  font-family: 'Open Sans Condensed';
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
}

p {
  font-family: 'Open Sans Condensed';
  font-size: 1.2em;
}

.emphasize {
  font-weight: bold;
  
}